.employees-list {
    padding: 20px;
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
}

.employee-item {
    margin-bottom: 10px;
}

.employee-info {
    margin: 0;
}

.add-button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
}

.gray-text {
    color: gray;
}

.black-text {
    color: black;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}

.border-gradient-purple {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}